.menu {
    text-align: right;
}
.title {
    text-align: center;
}
.Sun {
    color: #ff5479;
}
.Sat {
    color: #0095ff;
}
.Past {
    background-color: #c8c8c8c8;
}
.today {
    background-color: #ffffff
}
.table_box{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
  }