@charset "UTF-8";
@font-face {
    font-family: 'Dela_Gothic_One';
    src: url(../fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf);
}

body{
    margin: 0;
}
main {
    padding-top: 120px;
}
.menu {
    text-align: right;
}
.title {
    text-align: center;
}
.Sun {
    color: #ff5479;
}
.Sat {
    color: #0095ff;
}
.Past {
    background-color: #c8c8c8c8;
}
.today {
    background-color: #ffffff
}
.table_box{
    text-align: center;
    padding: 20px 8px 4px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}
.circle {
    color: #ff0000;
}
div.week_select{
    width: 88%;
    margin: auto;
    text-align: left;
}
table{
    border-collapse: collapse;
}
.table_day, .table_time, .table_content{
    border: 1px solid #000000;
}
table.calender{
    table-layout: fixed;
    width: 88%;
    margin: auto;
}
.table_day{
    width: 11px;
    padding-left: 8px;
    padding-right: 8px;
}
.table_time {
    padding-left: 8px;
    padding-right: 8px;
}
@media (max-width:1150px) {
    .time_end{
        text-align: right;
        display: block;
    }
    .time_first{
        text-align: left;
    }
}
@media (min-width:1150px){
    .table_time{
        text-align: center;
    }
}
@media (max-width:700px){
    
}